@import "colors";
a {
    color: white;
    &.link {
        &.link-sawtooth {
            display: block;
            position: relative;
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            padding-bottom: 10px;
            &:after {
                content: '';
                display: block;
                height: 3px;
                width: 0%;
                bottom: 0;
                position: absolute;
                transition: .3s;
                background-color: $primary-accent;
            }
            &:before {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                bottom: 0;
                position: absolute;
                background-size: contain;
                transition: .3s;
                background-color: $white-transparent-lighter;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
    
    }
}