$dark: #111;
$gray: #8c8c8c;

$primary-accent: #ff4000;
$secondary-accent: #FF8E00;
$third-accent: #4DC58B;

$badge-opacity: 0.3;

$primary-accent-transparent: rgba($primary-accent, $badge-opacity);
$secondary-accent-transparent: rgba($secondary-accent, $badge-opacity);
$third-accent-transparent: rgba($third-accent, $badge-opacity);

$white-transparent-lighter: rgba(#fff, 0.1);
$white-transparent-light: rgba(#fff, 0.3);
$white-transparent-dark: rgba(#fff, 0.8);