.About {
    position: relative;
    width: 320px;
    margin: auto;
    margin-top: 50px;
    .content {
        margin-bottom: 40px;
    }
    &-header {
        &-image {
            margin-bottom: 20px;
            > img {
                height: 230px;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
            
        }
    }
}