.Jobs {
    position: relative;
    width: 320px;
    margin: auto;
    .content {
        margin-bottom: 40px;
    }
    
    &-menu {
        &-item {
            &-dates {
                color: rgba(255, 255, 255, 0.7);
            }
            &-details {
                margin-top: 10px;
            }
        }
    }
}