.Home {
    position: relative;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20vh auto 0 auto;
    width: 320px;
    text-align: center;
    &-menu {
        
        &-aside {
            ul {
                flex-direction: row;
            }
        }
    }
}