@import "styles/variables.scss";
@import "styles/base.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/text.scss";

body {
    background-color: black;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: black url("./img/gradient-home-mobile-min.jpg") center;
        background-size: cover;
        display: block;
        position: fixed;
        filter: blur(50px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        //animation: opacityAnimation 10s ease-out 0s infinite normal both;
        //transform: skewX(10deg);
    }
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: black url("./img/asphalt-texture-min.jpg") center;
        background-size: cover;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.1;
    }
}
.App {
    position: relative;
    color: $white-transparent-dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--body-padding);
    z-index: 2;
    
    &-main {
        flex: 1;
        margin: 80px auto;
        width: var(--app-container-width);
    }
    .badge {
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-block;
        &-primary {
            &-accent {
                background-color: $primary-accent-transparent;
            }
        }
        &-secondary {
            &-accent {
                background-color: $secondary-accent-transparent;
            }
        }
        &-third {
            &-accent {
                background-color: $third-accent-transparent;
            }
        }
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0.5;
        transform: scale(1.5) skew(35deg,334deg);
        rotate: 0;
    }
    50% {
        opacity: 0.3;
        transform: scale(1.7) skew(35deg,334deg);
        rotate: 45deg;
    }

    100% {
        opacity: 0.5;
        transform: scale(1.5) skew(35deg,334deg);
        rotate: 0;
    }
    
}