@import "styles/variables.scss";
@import "styles/base.scss";
@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/text.scss";

.App {
    position: relative;
    color: $white-transparent-dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--body-padding);
    z-index: 2;
    
    &-main {
        flex: 1;
        margin: 80px auto;
        width: var(--app-container-width);
    }
    .badge {
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-block;
        &-primary {
            &-accent {
                background-color: $primary-accent-transparent;
            }
        }
        &-secondary {
            &-accent {
                background-color: $secondary-accent-transparent;
            }
        }
        &-third {
            &-accent {
                background-color: $third-accent-transparent;
            }
        }
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0.5;
        transform: scale(1.5) skew(35deg,334deg);
        rotate: 0;
    }
    50% {
        opacity: 0.3;
        transform: scale(1.7) skew(35deg,334deg);
        rotate: 45deg;
    }

    100% {
        opacity: 0.5;
        transform: scale(1.5) skew(35deg,334deg);
        rotate: 0;
    }
    
}