.Nav {
    position: relative;
    &-menu {
        opacity: 0;
        position: fixed;
        height: 80vh;
        top: 10vh;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 320px;
        gap: 35px;
        ul {
            flex-direction: row;
        }
        &-item {
            overflow: hidden;
            &-contact {
                overflow: hidden;
                height: 35px;
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
        &-list {
            ul {
                flex-direction: column;
                gap: 12px;
            }
            
        }
        &-list {
            ul {
                gap: 12px;
            }
        
        }
    }
    &-logo {
        position: absolute;
        left: 5px;
        z-index: 1;
        top: var(--navigationIconTop);
        &-img {
            height: 30px;
            width: 35px;
        }
        &-text {
            color: transparent;
            -webkit-text-stroke: 2px white;
            font-weight: 700;
            font-size: 40px;
            line-height: 1;
        }
    }
    &-icon {
        position: absolute;
        right: 5px;
        z-index: 1;
        top: var(--navigationIconTop);
        &-img {
            //border: 1px solid white;
            height: 40px;
            width: 40px;
            stroke: white;
            stroke-width: 2;
            stroke-linecap: round;
            fill-rule: evenodd;
            position: absolute;
            right: 0;
        }
    }
}